<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Tapiplas</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link rel="website icon" type="png" href="{{url_for('static',filename='assets/img/logoE.png')}}">


  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  
  <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='assets/vendor/aos/aos.min')}}">
  <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='assets/vendor/bootstrap/css/bootstrap.min.css')}}">
  <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='assets/vendor/bootstrap-icons/bootstrap-icons.css')}}">
  <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='assets/vendor/boxicons/css/boxicons.min.css')}}">
  <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='assets/vendor/glightbox/css/glightbox.min.css')}}">
  <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='assets/vendor/swiper/swiper-bundle.min.css')}}">

  <!-- Template Main CSS File -->
  <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='assets/css/style.css')}}">

  

</head>

<body>



  <!-- ======= Header ======= -->
  <header id="header" class="d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

      <a href="/"><img src="{{url_for('static',filename='assets/img/logoE.png')}}"></a>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt=""></a>-->

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Inicio</a></li>
          <li><a class="nav-link scrollto" href="#about">¿Quienes somos?</a></li>
          <li><a class="nav-link scrollto" href="#portfolio">Materiales</a></li>
          <li><a class="nav-link scrollto" href="#contact">Contactanos</a></li>
          <li><a class="nav-link scrollto" href="/usuarios/login">Iniciar Sesion</a></li>
          <li><a class="nav-link scrollto " href="/usuarios/register">Registrate</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">
    <div class="container" data-aos="zoom-out" data-aos-delay="100">
      <h1>Bienvenido a  <span>Tapiplas</span></h1>
      <h2>Aqui podras encontrar los mejores tapizados al mejor precio</h2>
      <div class="d-flex">
        <a href="/usuarios/register" class="btn-get-started scrollto">Cotiza ahora aqui</a>
      </div>
    </div>
  </section><!-- End Hero -->

  



    <!-- ======= About Section ======= -->
    <section id="about" class="about section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Sobre nosotros</h2>
          <h3>Saber mas <span>sobre nosotros</span></h3>
        </div>

        <div class="row">
          <div class="col-lg-6" data-aos="fade-right" data-aos-delay="100">
            <img src="{{url_for('static',filename='assets/img/logo5.png')}}" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 content d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="100">
            <h3>¿Que es Tapiplas?</h3>
            <p class="fst-italic">
              Somos una empresa que mediante este aplicatico web buscamos hacer con mas facilidad tu experincia con nosotros y agilizar nuestros servicios.
            </p>
            <ul>
              <li>
                <i class="bx bx-images"></i>
                <div>
                  <h5>Nuestros materiales</h5>
                  <p>Tenemos gran variedad de materiales a escojer para que escojas el que mas te guste para tus productos automotrices o muebles.</p>
                </div>
              </li>
            </ul>
            <p>
              Estamos ubicados en la localidad de engativa en el barrio Santa Maria del lago y nos gusta complacer a ustedes, nuestros clientes.
            </p>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    
    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Productos</h2>
          <h3>Estos son algunos <span>Productos</span></h3>
          <p>Los productos que ves a continuacion son algunos de los mas pedidos por nuestro clientes para tapizar sus productos. <br>
          Al registrarte o y/o iniciar sesión podras ver todos los que tenemos en la empresa como tal.</p>
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">Todos</li>
              <li data-filter=".filter-app">Algodon</li>
              <li data-filter=".filter-card">Cuero</li>
              <li data-filter=".filter-web">Terciopelo</li>
            </ul>
          </div>
        </div>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">

          <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">
            {% for cat in catalogoFk %}
            <div class="col-lg-4 col-md-6 portfolio-item filter-web">
              <img src="{{ url_for('static', filename='imagenes_Catalogo/' + cat.imagen_catalogo) }}" class="img-fluid" width="100%"  height="auto" >
              <div class="portfolio-info">
                <a href=src="{{ url_for('static', filename='imagenes_Catalogo/' + cat.imagen_catalogo) }}" width="100%"  height="auto" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Algodón Americano"><i class="bx bx-plus"></i></a>
              </div>
            </div>
            {% endfor %}
  
    </section><!-- End Portfolio Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Contacto</h2>
          <h3><span>Contactanos</span></h3>
          <p>Envianos tu nombre, tu correo</p>
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">
          <div class="col-lg-6">
            <div class="info-box mb-4">
              <i class="bx bx-map"></i>
              <h3>Nuestra direcciòn</h3>
              <p>Cl. 73 #72-83 a 72-51, Bogotá</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="info-box  mb-4">
              <i class="bx bx-envelope"></i>
              <h3>Email Us</h3>
              <p>hna.amandasanchez@hotmail.com</p>
            </div>
          </div>

        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">

          <div class="col-lg-6 ">
            <iframe class="mb-4 mb-lg-0" src="https://www.google.com/maps/place/4%C2%B041'19.9%22N+74%C2%B005'41.9%22W/@4.6888671,-74.0948373,17z/data=!4m4!3m3!8m2!3d4.6888646!4d-74.0949758?entry=ttu" frameborder="0" style="border:0; width: 100%; height: 384px;" allowfullscreen></iframe>
          </div>

          <div class="col-lg-6">
            <form action="forms/contact.php" method="post" role="form" class="php-email-form">
              <div class="row">
                <div class="col form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Nombre" required>
                </div>
                <div class="col form-group">
                  <input type="email" class="form-control" name="email" id="email" placeholder="E-mail" required>
                </div>
              </div>
              <div class="form-group">
                <textarea class="form-control" name="message" rows="5" placeholder="Mensage" required></textarea>
              </div>
              <div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Enviar mensaje</button></div>
            </form>
          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container py-4">
      <div class="copyright">
        &copy; Copyright <strong><span>Tapiplas</span></strong>. Derechos de autor reservados
      </div>
      <div class="credits">
        
      </div>
    </div>
  </footer><!-- End Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src=" {{url_for('static',filename='assets/vendor/purecounter/purecounter_vainilla.js')}}"></script>
  <script src=" {{url_for('static',filename='assets/vendor/aos/aos.js')}}"></script>
  <script src=" {{url_for('static',filename='assets/vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
  <script src=" {{url_for('static',filename='assets/vendor/glightbox/js/glightbox.min.js')}}"></script>
  <script src=" {{url_for('static',filename='assets/vendor/isotope-layout/isotope.pkgd.min.js')}}"></script>
  <script src=" {{url_for('static',filename='assets/vendor/swiper/swiper-bundle.min.js')}}"></script>
  <script src=" {{url_for('static',filename='assets/vendor/waypoints/noframework.waypoints.js')}}"></script>
  <script src=" {{url_for('static',filename='assets/vendor/php-email-form/validate.js')}}"></script>

  <!-- Template Main JS File -->
  <script src=" {{url_for('static',filename='assets/js/main.js')}}"></script>


</body>

</html>