<!DOCTYPE html>
<html>
    <head>
        <title>Lista de Catalogo</title>
        <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/footer.css')}}">
        <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/templatemo-hexashop.css')}}">
        <title>Actualizar</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
        <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/estiloRM.css')}}">
        <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/footer.css')}}">
        <script src="../static/js/imagen.js"></script>
    </head>
<body>
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <img src="{{ url_for('static', filename='images/logoE.png') }}"> Tienda Tapiplas
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li class="scroll-to-section"><a href="/ordenes/listar" class="submenu">Ver Ordenes de servicio</a></li>
                            <li class="scroll-to-section"><a href="/usuarios/dashboard">Volver</a></li>
                            <li class="scroll-to-section"><a href="/usuarios/logout">Cerrar sesion</a></li>
                            
                                    
                                </ul>
                            </li>
                        </ul>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    
    <br>
    <br>
    <br>
    <br>
    <h1>Lista de todas las ordenes</h1>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Teléfono</th>
                <th>Correo Electrónico</th>
                <th>Material Deseado</th>
                <th>Tipo de Servicio</th>
                <th>Detalles Adicionales</th>
                <th>Imagen 1</th>
                <th>Imagen 2</th>
                <th>Imagen 3</th>
                <th>Actualizar</th>
            </tr>
        </thead>
        <tbody>
            {% for ord in ordenes %}
                {% with urlOrdenesDeServicio =  "/static/imagenes_OrdenServicio/" %}
                    <tr id="Registro_{{ ord.id }}">
                        <td>{{ ord.id }}</td>
                        <td>{{ ord.nombre }}</td>
                        <td>{{ ord.telefono }}</td>
                        <td>{{ ord.correo_electronico }}</td>
                        <td>{{ ord.materialFk }}</td>
                        <td>{{ ord.tipoServicio }}</td>
                        <td>{{ ord.detallesAdicionales }}</td>
                        <td><img src="{{ url_for('static', filename='imagenes_OrdenServicio/' + ord.imagen1) }}" class="sin_foto_mini imagen-click" width="45%" height="45%" alt="{{ ord.imagen1 }}"></td>
                        <td><img src="{{ url_for('static', filename='imagenes_OrdenServicio/' + ord.imagen2) }}" class="sin_foto_mini imagen-click" width="45%" height="45%" alt="{{ ord.imagen2 }}"></td>
                        <td><img src="{{ url_for('static', filename='imagenes_OrdenServicio/' + ord.imagen3) }}" class="sin_foto_mini imagen-click" width="45%" height="45%" alt="{{ ord.imagen3 }}"></td>
                        <td><a href="{{ url_for('cotizacion_blueprint.generar_cotizacion', id=ord.id) }}"><button class="btn btn-primary btn-sm" id="btn-update" data-bs-toggle="modal" data-bs-target="#modal{{ord.id}}">Realizar cotización</button></a></td>
                    </tr>
                {% endwith %}
            {% endfor %}
        </tbody>
    </table>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    
    <footer class="site-footer">
        <div class="container">
          <div class="row">
            <div class="col-md-8 col-sm-6 col-xs-12">
              <p class="copyright-text">Copyright &copy; 2023 Empresa Tapiplas.
              </p>
            </div>
  
            <div class="col-md-4 col-sm-6 col-xs-12">
              <ul class="social-icons">
                <li><a class="facebook" href="https://www.facebook.com/profile.php?id=100064243835236&mibextid=ZbWKwL"><i class="fa fa-facebook"></i></a></li>
                <li><a class="whatsapp" href="https://wa.me/c/573102381123"><i class="fa fa-whatsapp"></i></a></li>   
              </ul>
            </div>
          </div>
        </div>
  </footer>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>



</body>

</html>

